<h1>Home#index</h1>
<p>
	<%= @test_data %>
</p>
// <script type="text/javascript">

// 		$.ajax({
//           url: "/home.json",
//           type: "GET",
//           success: function(data) {
//           	console.log(data);
//           },
//           error: function(err) {
//             console.log(err);
//           }
//         });

// </script>
